{{!-- Create template that Handlebars can render to
Include a button to submit the burger into the db --}}

<h1 class="ctr">Chi'Burga</h1>
<div>
    <img id="pic" src="../assets/img/burger.png" width=150px height=150px>
</div>
<hr>
<div class="row ctr">
    <div class="col s6"><h4>Your Creations</h4></div>
    <div class="col s6"><h4>Your Consumption</h4></div>
    <div class="col s6">
        <ul id="creations">
            {{#each burger}}
            {{#unless this.devoured}}
            <li>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <div class="card-panel grey">
                            <div class="card-content white-text">
                                <h6>{{this.burger_name}}</h6>
                                <hr>
                            </div>
                            <div class="card-action">
                                <button style="color:black;background-color:coral" value="{{this.id}}" class="eatBurger waves-effect btn-small">Devour it!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col s6" >
        <br>
        <ul class="collection">
            {{#each burger}}
            {{#if this.devoured}}
            <li class="collection-item">
                <div class="row" style="margin-bottom:0px;">
                    <div class="col s8 offset-s2">
                        <div class="card-panel grey">
                            <div class="card-content black-text">
                                <span style="font-size: 18px">{{this.burger_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<hr>
<div class="row ctr">
    <div class="col s12"><h4>Create Another</h4></div>
    <form class="addBurger">
        <div class="input-field col s4 push-s4">
          <input name="burger" placeholder="Create a New Burger Here" id="b_name" type="text" class="validate">
          <button type="submit" style="color:black;background-color:coral" class="waves-effect btn-small">Add Creation</button>
        </div>
    </form>
</div>
<div id="footer">
    <small style="margin-left:10px"><a href="https://github.com/ksahrakar/chiburga.git">GitHub Repo</a></small>
    <small id="sig">&copy;2018 Kamran Sahrakar</small>
</div>
