// Create template that Handlebars can render to
// Include a button to submit the burger into the db
<h1 class="ctr">Chi'Burga</h1>
<div>
    <img id="pic" src="../public/assets/img/burger.png" width=150px height=150px>
</div>
<hr>
<div class="row ctr">
    <div class="col s12 m6 l3"><h4>Your Creations</h4></div>
    <div class="col s12 m6 l3"><h4>Your Consumption</h4></div>
</div>
<hr>
<div class="row ctr">
    <div class="col s12"><h4>Create Another</h4></div>
</div>
<div id="footer">
    <small style="margin-left:10px"><a href="https://github.com/ksahrakar/chiburga.git">GitHub Repo</a></small>
    <small id="sig">&copy;2018 Kamran Sahrakar</small>
</div>